nextflow.enable.moduleBinaries = true
process {
    withName:FASTLMM {
        container = 'maxlaurent/image_fastlmm_plink:latest'
    }
    withName:SPLIT_PHENO {
        container = 'maxlaurent/image_fastlmm_plink:latest'
    }
    withName:FORMAT_PHENO {
        container = 'maxlaurent/image_fastlmm_plink:latest'
    }
    withName:ADD_INFO_GWAS {
        container = 'maxlaurent/image_fastlmm_plink:latest'
    }
    withName:FILTER_SIGNIF_MARKERS {
        container = 'maxlaurent/image_fastlmm_plink:latest'
    }
    withName:CALCULATE_MAF {
        container = 'maxlaurent/image_fastlmm_plink:latest'
    }
}

docker {
    enabled = true
}